<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="public/css/bootstrap.css" />
		<link rel="stylesheet" href="public/css/player.css" />
		<script src="public/js/player.js" defer></script>
	</head>
	<body class="bg-dark text-light p-3 vh-100">
		<div id="player-wrapper" class="vh-100">
			<video src="{{ path }}" oncontextmenu="return false;"></video>
			<!-- player overlay -->
			<div class="player-overlay">
				<!-- player title -->
				<div class="player-title">
					<p class="file-title">{{ title }}</p>
					<div class="file-options">
						<button id="download-movie"></button>
						<button id="copy-stream-url"></button>
					</div>
				</div>

				<!-- player control -->
				<div class="player-control">
					<div class="playback-controls">
						<!-- play/pause button -->
						<button class="play-pause" data-state="paused" data-tooltip="May not play"></button>
						<!-- current time -->
						<span class="time-display"> <span class="current-time">--:--</span> / <span class="duration-time">--:--</span> </span>
						<!-- volume -->
						<div class="volume-control" data-tooltip="May not play">
							<input type="range" id="volume-slider" min="0" max="1" step="0.01" value="1" />
							<button id="mute-toggle" data-state="unmuted"></button>
						</div>
						<!-- fullscreen toggle -->
						<button class="fullscreen-toggle" data-state="normal" data-tooltip="May not play"></button>
					</div>
					<input type="range" class="seekbar" min="0" step="0.000001" value="0" />
				</div>
			</div>
		</div>
	</body>
</html>
